.intro {
  padding: 150px 0 0 0;
  background-color: @gray-lighter;
  h1{
 	text-align: center;
  	font-size: 2.6em;
  	margin-top: 150px;
     font-weight: 700;
     text-shadow: -5px 4px 1px white;
  }
  p{
  	font-size: 1.1em;
  	margin-top: 50px;
  	font-family: @font-family-alt;
  	color: @gray-light;
  	font-weight: 300;

  }
}
