//
// Jumbotron
// --------------------------------------------------


.jumbotron {
  .make-lg-column(12);
  padding: @jumbotron-padding;
  margin-bottom: 0;
  color: @jumbotron-color;
  background-color: @jumbotron-bg;
  background-image: url('../img/hero.jpg');
  background-repeat: fixed;
  background-size: cover;
  h1,
  .h1 {
    color: @jumbotron-heading-color;
    padding: 75px 0 0 0;
    text-align: center;
    text-transform: uppercase;
  }
  h3 {
    padding: 0 0 75px 0;
    text-align: center;
    font-family: @font-family-alt;
    font-weight: 300;
    font-size: 1.2em;
  }
  h4 {
    text-align: center;
  }
  p {
    margin-bottom: (@jumbotron-padding / 2);
    font-size: @jumbotron-font-size;
    font-weight: 200;
  }
  .continuebar {
    padding: 100px 0;
  }

  > hr {
    border-top-color: darken(@jumbotron-bg, 10%);
  }

  .container & {
    border-radius: @border-radius-large; // Only round corners at higher resolutions if contained in a container
  }

  .container {
    max-width: 100%;
  }

  @media screen and (min-width: @screen-sm-min) {
    padding-top:    (@jumbotron-padding * 1.6);
    padding-bottom: (@jumbotron-padding * 1.6);

    .container & {
      padding-left:  (@jumbotron-padding * 2);
      padding-right: (@jumbotron-padding * 2);
    }

    h1,
    .h1 {
      font-size: (@font-size-base * 2.5);
    }
  }
}
