.step {
        .make-lg-column(4);
        margin-top: 100px;
        .step-shape {
            .make-row();
            text-align: center;
        }
        .make-row();
        .step-content {
            h3 {
            width: 95%;
            text-align: left;
            display: block;
            margin: 0 auto;
            font-family: @font-family-alt;
            color: @gray-dark;
            font-weight: @light-weight;
            font-size: 1.1em;
            line-height: 1.5em;
            }
            }
}