.testimonial { 
	margin: 100px 0;
	.col-lg-8 {
		background-color: #eee;
		height: 327px;
		position: relative;
		h2 {
			width: 85%;
			margin: 90px auto 45px auto;
			display: block;
			font-size: 1.9em;
		}
		p {
			text-align: center;
		}
	}
	.col-lg-4{
		background-image: url('../img/testimonial1.jpg');
		background-size: cover;
		overflow: hidden;
		height: 327px;
	}
}